.container {
  height: 1000px;
  width: 1000px;
  border: 1px solid black;
  margin: 0 auto;
}

.gameboard {
  height: 1000px;
  width: 1000px;
  border: 1px solid red;
}

.status-bar {
  height: 75px;
  width: 1000px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid blue;
  text-align: left;
  display: inline;
}

.status-bar li {
  padding: 0px 10px;
}

ul {
  float: left;
  display: inline;
}

#prompt {
  display: inline;
  font-size: 20px;
  list-style: none;
}

input {
  height: 35px;
  width: 977px;
  font-size: 20px;
  float:left;
  padding: 0px 10px;
}

.timer {
  border: 1px dashed black;
  text-transform: uppercase;
  display: inline-block;
  float: right;
}

.row {
height: 293px;
width: 998px;
/* background: darkgreen;
 */
border: 1px solid black;
float: left;
}

.room {
  overflow: auto;
  margin: 0 auto;
  height: 289px;
  width: 327px;
  background: lightskyblue;
  border: 1px solid yellow;
  display: inline-block;
}


#protagonist {
  position: absolute;
  transition-duration: 1s;
  height: 25px;
  width: 25px;
  background: red;
  border-radius: 25px;
  opacity: 1;
  top: 290px;
  left: 350px;
}

#room-0 {
  background: url("img/room-1.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

#room-1 {
    background: url("img/room-2.jpg");
    background-size: 163%;
    background-position-x: -70px;
    background-position-y: -30px;
    background-repeat: no-repeat;
}

#room-2 {
    background: url("img/room-3.jpg");
    background-size: 187%;
    background-repeat: no-repeat;
    background-position-x: -193px;
    background-position-y: 23px;
}

#room-3 {
    background: url("img/room-4.jpg");
    background-size: 117%;
    background-repeat: no-repeat;
}

#room-4 {
    background: url("img/room-5.jpg");
    background-size: 104%;
    background-position-y: -87px;
    background-repeat: no-repeat;
}

#room-5 {
    background: url("img/room-6.jpg");
    background-size: 137%;
    background-position-x: -50px;
    background-repeat: no-repeat;
}

#room-6 {
    background: url("img/room-7.jpg");
    background-size: 131%;
    background-position-x: -51px;
    background-repeat: no-repeat;
}

#room-7 {
    background: url("img/room-8.jpg");
    background-size: 116%;
    background-position-x: -35px;
    background-repeat: no-repeat;
}

#room-8 {
    background: url("img/room-9.jpg");
    background-size: 236%;
    background-repeat: no-repeat;
}

